
# --- Core ---
numpy
opencv-python-headless    # GUI 창 필요하면 opencv-python 으로 교체
mediapipe

# --- API Server ---
fastapi
uvicorn[standard]

# --- Kafka Client ---
confluent-kafka

# --- Pydantic (FastAPI 모델 정의) ---
pydantic==1.10.15         # FastAPI 0.111.0 과 호환성 좋음
